table {
    width: 100%;
    max-width: 750px;
    margin: auto;
    border-collapse: collapse;
    border-spacing:5em;
}

thead {
    font-weight: bolder;
    font-size: 2em;
    color: white;
    background: rgb(0, 86, 246);
}

tbody tr:nth-child(even) {
    background: rgba(11, 14, 233, 0.1);
}

td {
    font-size: .8em;
    padding: 8px 5px;
}
©